<div class="container">
  <div (click)="this.getTasks()" id="refresh-button">Task Manager</div>
  <app-task *ngFor="let task of tasks" [task]=task (taskDeleted)="onTaskDeleted($event)"></app-task>

  <form class="form" [formGroup]="formGroup" (ngSubmit)="addTask(formGroup.value)">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="description" placeholder="Description" required/>
    </div>
    <button type="submit" class="btn btn-success">Add Task</button>
  </form>

</div>

